@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    background: -webkit-linear-gradient(-8deg, #fafafa, #ffffff);
    background: linear-gradient(-8deg, #fafafa, #ffffff);
    background-repeat: no-repeat;
}

html {
    background-color: #fafafa;
}
.btn {
  padding: 12px !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}
.flexing {
  position: relative;
  justify-content: center;
  align-content: center;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  margin-bottom: 150px; 
}
.nav-style {
  background-color: #00B6F0;
  position: fixed;
  top: 0;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  width: 100vw;
  z-index: 1000;
}
.img-nav {
  margin-top: 50px;
  background-color: #00B6F0;
}
#logo {
  background-image: url(https://fl-cdn.scdn1.secure.raxcdn.com/files/sites/756/parhaassaseurassa3.svg);
  background-repeat: no-repeat;
  display: block;
  background-size: cover; 
  height: 180px;
  width: 300px;
  margin: auto;
  object-fit: cover;
  object-position: 0 0;
  transition: 0.2s;
}
.beactive {
  background-image: url(img/beActive.png);
  background-repeat: no-repeat;
  display: block;
  background-size: cover; 
  height: 75px;
  width: 420px;
  margin: auto 9px auto 9px;
}
footer {
  width: 100vw;
  background-color: #00B6F0;
  position: relative;
  height: 150px;
  margin-top: -150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}
h5,
p{
  color: #ffffff;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px !important;
}
.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav ul li {
  color: #f1f1f1;
  list-style: none;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .sidenav-title {
  color: #f1f1f1;
  margin-left: 30px;
}
.navbutton {
  padding-left: 1vw !important;
}
.card-textbox {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  color: #333447 !important;
}
.social-box {
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 9px;
  margin:  auto 9px auto 9px;
  display: flex;
  justify-content: center;
  align-content: center;
}
svg {
  margin: auto;
  fill: #00B6F0;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

